<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>303314271812-tlf434qq8auqr4b5btoo3pav655h0ahh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.303314271812-tlf434qq8auqr4b5btoo3pav655h0ahh</string>
	<key>API_KEY</key>
	<string>AIzaSyA8FINwZ06VhUzT3HAGi_4UjKXEXNzALg8</string>
	<key>GCM_SENDER_ID</key>
	<string>303314271812</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.MeiBaps.Bookly</string>
	<key>PROJECT_ID</key>
	<string>bookly-272a9</string>
	<key>STORAGE_BUCKET</key>
	<string>bookly-272a9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:303314271812:ios:268f9fc61f5a983d4f0611</string>
	<key>DATABASE_URL</key>
	<string>https://bookly-272a9.firebaseio.com</string>
</dict>
</plist>